<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles }}
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="https://zuriplace.pages.dev/logos/Zuri-Place-Hotel-Logo-Gold.png"
                    alt="ZURI PLACE HOTEL LOGO" />
            </div>
            <h1>Elegance & Comfort</h1>
        </div>
        <div class="content">
            <p>Dear Team,</p>
            <p>You have received new message from {{name}}:</p>
            <div class="booking-details">
                <ul>
                    <li><strong>Client name:</strong> {{name}}</li>
                    <li><strong>Phone number:</strong> {{phone}}</li>

                    <li><strong>Email:</strong> {{userEmail}}</li>

                    <li><strong>Subject:</strong>{{subject}}</li>
                    <li><strong>Message:</strong> {{message}}</li>
                </ul>
            </div>
            <p>Please reach out to the client to complete booking and payment.</p>

            <!-- <a href="#" class="cta-button">Manage Your Booking</a> -->
            <p>Best regards,<br />The Zuri Place Hotel Team</p>
        </div>
        <div class="footer">
            <p>
                <a href="https://g.co/kgs/Po2BcS7" target="_blank" rel="noopener noreferrer">
                    Zuri Place Hotel | Zuri Place Building , Oyugis, Kenya </a>| <br />
                <a href="tel:+254 742 807 653"> Phone: +254 742 807 653</a> |
                <a href="mailto:reservations@zuriplacehotel.com">
                    Email: reservations@zuriplacehotel.com</a>
            </p>
        </div>
    </div>
</body>

</html>